@media(min-width :360px)
{
    .header{
        height: 35vh;

    }
}
@media(min-width :576px)
{
    .header{
        height: 55vh;

    }
}
@media(min-width :992px)
{
    .header{
        height: 95vh;

    }
}
/*ukuran responsive wewb*/
/*small*/
@media(min-width:576px){
    .kolom{
        width: 540px;
    }
}
/*medium*/
@media(min-width:768px){
    .kolom{
        width: 720px;
    }
}
/*large*/
@media(min-width:992px){
    .kolom{
        width: 960px;
    }
}
/*xl*/
@media(min-width:1200px){
    .kolom{
        width: 1140px;
    }
}
/*xxl*/
@media(min-width:1400px){
    .kolom{
        width: 1320px;
    }
}
/*konten*/
.baris{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}
.bagan-1{
    grid-column: span 1;

}
.bagan-2{
    grid-column: span 2;

}
.bagan-3{
    grid-column: span 3;

}
.bagan-4{
    grid-column: span 4;

}
.bagan-5{
    grid-column: span 5;

}
.bagan-7{
    grid-column: span 7;

}
.bagan-8{
    grid-column: span 8;

}
.bagan-9{
    grid-column: span 9;

}
.bagan-10{
    grid-column: span 10;

}
.bagan-11{
    grid-column: span 11;

}
.bagan-12{
    grid-column: span 12;

}
/*m*/
@media(min-width:768px){
    .bagan-md-1{
        grid-column: span 1;
    }
    .bagan-md-2{
        grid-column: span 2;
    }
    .bagan-md-3{
        grid-column: span 3;
    }
    .bagan-md-4{
        grid-column: span 4;
    }
    .bagan-md-5{
        grid-column: span 5;
    }
    .bagan-md-6{
        grid-column: span 6;
    }
    .bagan-md-7{
        grid-column: span 7;
    }
    .bagan-md-8{
        grid-column: span 8;
    }
    .bagan-md-9{
        grid-column: span 9;
    }
    .bagan-md-10{
        grid-column: span 10;
    }
    .bagan-md-11{
        grid-column: span 11;
    }
    .bagan-md-12{
        grid-column: span 12;
    }

}
/*larg*/
@media(min-width:922px){
    .bagan-lg-1{
        grid-column: span 1;
    }
    .bagan-lg-2{
        grid-column: span 2;
    }
    .bagan-lg-3{
        grid-column: span 3;
    }
    .bagan-lg-4{
        grid-column: span 4;
    }
    .bagan-lg-5{
        grid-column: span 5;
    }
    .bagan-lg-6{
        grid-column: span 6;
    }
    .bagan-lg-7{
        grid-column: span 7;
    }
    .bagan-lg-8{
        grid-column: span 8;
    }
    .bagan-lg-9{
        grid-column: span 9;
    }
    .bagan-lg-10{
        grid-column: span 10;
    }
    .bagan-lg-11{
        grid-column: span 11;
    }
    .bagan-lg-12{
        grid-column: span 12;
    }

}
/*xl*/
@media(min-width:1200px){
    .bagan-xl-1{
        grid-column: span 1;
    }
    .bagan-xl-2{
        grid-column: span 2;
    }
    .bagan-xl-3{
        grid-column: span 3;
    }
    .bagan-xl-4{
        grid-column: span 4;
    }
    .bagan-xl-5{
        grid-column: span 5;
    }
    .bagan-xl-6{
        grid-column: span 6;
    }
    .bagan-xl-7{
        grid-column: span 7;
    }
    .bagan-xl-8{
        grid-column: span 8;
    }
    .bagan-xl-9{
        grid-column: span 9;
    }
    .bagan-xl-10{
        grid-column: span 10;
    }
    .bagan-xl-11{
        grid-column: span 11;
    }
    .bagan-xl-12{
        grid-column: span 12;
    }

}
/*xxl*/
@media(min-width:768){
    .bagan-xxl-1{
        grid-column: span 1;
    }
    .bagan-xxl-2{
        grid-column: span 2;
    }
    .bagan-xxl-3{
        grid-column: span 3;
    }
    .bagan-xxl-4{
        grid-column: span 4;
    }
    .bagan-xxl-5{
        grid-column: span 5;
    }
    .bagan-xxl-6{
        grid-column: span 6;
    }
    .bagan-xxl-7{
        grid-column: span 7;
    }
    .bagan-xxl-8{
        grid-column: span 8;
    }
    .bagan-xxl-9{
        grid-column: span 9;
    }
    .bagan-xxl-10{
        grid-column: span 10;
    }
    .bagan-xxl-11{
        grid-column: span 11;
    }
    .bagan-xxl-12{
        grid-column: span 12;
    }

}



